/* Color Palette
* #331D2C
* #3F2E3E
* #A78295
* #EFE1D1
*/


.header {
    padding: 6px;
    text-align: center;
    background: #3F2E3E;
    color: #EFE1D1;
    font-size: 12px;
}


.navbar {
    background-color: #331D2C;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar a {
    display: block;
    color: #EFE1D1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #A78295;
    color: #331D2C;
  }