body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #331D2C;
    color: #EFE1D1;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 6;
    font-size: 16px;
    font-weight: bold;
    color: #3F2E3E;
}

input {
    padding: 12px;
    border: 1px solid #A78295;
    border-radius: 8px;
    outline: none;
}

button {
    padding: 10px 20px;
    border-radius: 16px;
    border: 0px;
    background-color: #EFE1D1 ;
    color: #331D2C;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #A78295;
    color: #3F2E3E;
}

button:active {
    scale: 96%;
}

input:focus{
    border-color: #3F2E3E;
}

.LuasInputSection {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.inputButtonSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12px;
}